body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: yellow;
    font-family: cursive;
}
.container{
    margin: 20px;
    border: dotted green 1px;
    min-width: 200px;
    height: 100px;
    position: relative;
    padding: 40px;
}
.container h4{
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
}

.icon{
    position: absolute;
    top: -30px;
    transform: translate(-50%);
}
.counter{
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: green;
}

@media (max-width: 600px){
    body{
        flex-direction: column;
    }
}